# Discord
DISCORD_TOKEN=""
PERVERTED_OLD_MAN_CHANNEL_ID=""
MINECRAFT_SERVER_CHANNEL_ID=""

# API Keys
GROQ_API_KEY=""
TAVILY_API_KEY=""
GEMINI_API_KEY=""

# Cloudflare Workers AI
WORKERS_AI_API_KEY=""
ACCOUNT_ID=""